@model EM250mlMVC4.Models.Events

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Events</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.startdate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.startdate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.enddate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.enddate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ratingsSum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ratingsSum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ratingsCount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ratingsCount)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
