@model IEnumerable<EM250mlMVC4.Models.Events>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.enddate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ratingsSum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ratingsCount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.enddate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ratingsSum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ratingsCount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
